@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333333;
  --background-start-rgb: #fff;
  --swiper-navigation-color: #333;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}

.custom-container {
  max-width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1440px) {
  .custom-container {
    max-width: 1220px;
  }
}

@media screen and (min-width: 1960px) {
  .custom-container {
    max-width: 1440px;
  }
}

/* Styles Slider */


html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  height: 90vh !important;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide .custom-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #333 !important;
}